body{
    background-color: #F8F8F8;
    margin: 0;
}

#delete{
    float: right;
}

.form-padrao{
    width: 500px;
    margin: 0 auto;
    background-color: red;
}

.card{
    float: left;
}

.card img{
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 15px;
}

