html{
    scroll-behavior: smooth;
}

body{
    background-color: #FDF3F4;
    margin: 0;
    color:#cccccc;
    height: auto;
}

footer{
    text-align: center;
    font-weight: bold;
    color: #f0bcbe;
    width: 100%;
}

label{
    color: #f0bcbe;
    font-weight: bold;
}

#delete{ /*painel.php*/
    float: right;
}

#nome-produto{
    min-height: 160px;
}

#prateleira{
    border: 2px solid #f0bcbe;
    padding: 10px;
}

.imagem-icon-desc{
    float: left;
    margin-left: 5px;
}

.card{
    height: 300px;
    min-height: 300px;
    margin-bottom: 15px;
}

#cardP{
    border: 2px solid #f0bcbe;
}

.card img{
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 15px;
}

header{
    display: flex;
}

.cabecalho-imagem{
    width: 350px;
    height: 200px;
}

.cabecalho-menu-item{
    float: left;
    color: #e866cc;
    margin-top: 100px;
    margin-left: 60px;
    text-decoration: none;
    font-size: 19px;
    padding: 10px;
    border-radius: 2px;
}

.cabecalho-menu-item:hover{
    text-decoration:solid;
    background-color: #e866cc;
    color:white;
    padding: 10px;
    border-radius: 2px;
}

.conteudo-principal{
    margin-bottom: 10px;
}

.conteudo-principal-imagem{
    width: 100%;
    height: 592px;
}
   
.card-title{
    font-family: sans-serif;
    font-size: 20px;
    color: #6A6A6B;
}

.card-subtitle{
    font-family: sans-serif;
    font-size: 20px;
    color:rgb(190, 40, 190);
}

.imagem-icon{
    float: left;
}

h2{
    color: #f0bcbe;
    font-size:30px;
    text-align: center;
    font-weight: bold;
}

#main-title{
    color: #f0bcbe;
    font-size:30px;
    text-align: center;
}

form{
	color:#db33b7;
    text-align: center;
}

input[type=text]{ /*somente os inputs que tiverem o type = text*/
	width:400px;
	background-color:#EEE;
	border:solid 1px #f0bcbe;
}

input[type=submit]{
	width:100px;
	height:30px;
	background-color:#db33b7;
	border:6px;
	color:white;
	margin-top:5px;	
}

#contatos textarea{
	width:450px;
	height:160px;
	background-color:#f4f2f2;
	border: solid 1px #f0bcbe;
}

.btn-rosa{
    color: #ecbcc4;
    border-color: #ecbcc4;
}

.btn-rosa:hover{
    color: white;
    background-color: #ecbcc4;
    border-color: #ecbcc4;
}

.titulo-pagina-admin{
    color: #db33b7;
    font-size:30px;
    text-align: center;
    margin: 100px;
}

.menu-item-home{
    color: #e866cc;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 2px;
}

.menu-item-home:hover{
    text-decoration:solid;
    background-color: #e866cc;
    color:white;
    padding: 10px;
    border-radius: 2px;
}

.btn-rosa-admin{
    color: #db33b7;
    border-color:#db33b7;
}

.btn-rosa-admin:hover{
    color: white;
    background-color: #db33b7;
    border-color: #cccccc;
}

.pagina-edicao-produtos{
    color: #db33b7;
    font-size:30px;
    text-align: center;
    margin: 100px;
}

.menu-item-pagina-admin{
    color: #e866cc;
    margin-top: 100px;
    margin-left: 60px;
    text-decoration: none;
    font-size: 19px;
    padding: 10px;
    border-radius: 2px;
}

.menu-item-pagina-admin:hover{
    text-decoration:solid;
    background-color: #e866cc;
    color:white;
    padding: 10px;
    border-radius: 2px;
}

#contatos{
    border: 2px solid #f0bcbe;
    padding: 10px;
}

#empty-list-text{
    text-align: center;
}

#empty-list-text a{
    font-weight: bold;
    color: #f0bcbe;
}